<!DOCTYPE html>
<html>
<head>
  <title>Lumarylove</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>  
  <%= csrf_meta_tags %>





</head>
<body  id="page-top" data-spy="scroll" data-target=".navbar-custom">

<%= yield %>
	<script src="assets/modernizr.custom.js"></script>
		<script src="assets/jquery.min.js"></script>
	    <script src="assets/jquery-ui.min.js"></script>
	    <script src="assets/bootstrap.min.js"></script>
	    <script src="assets/jquery.easing.min.js"></script>
	    <script src="assets/jquery.sticky.js"></script>
	    <script src="assets/jquery.parallax.js"></script>
	    <script src="assets/masonry.pkgd.min.js"></script>
	    <script src="assets/annyang.min.js"></script>
	    <script src="assets/wow.min.js"></script>
		<script src="assets/waypoints.min.js"></script>
		<script src="assets/smoothscrolling.js"></script>
	    <script src="assets/custom.js"></script>    
		<script src="assets/fss.js"></script>      
	    <script src="assets/geo.js"></script>      
	    <script src="assets/jquery.countTo.js"></script>
	    <script src="assets/jquery.mixitup.min.js"></script>
	    <script src="assets/imagesloaded.pkgd.min.js"></script>
	    <script src="assets/owl.carousel.min.js"></script>
	    <script src="assets/jquery.magnific-popup.min.js"></script>
	    <script src="assets/slide-fade-content.js"></script>	    
	    <script src="assets/prefixfree.js"></script>
	    <script src="assets/countup.js"></script>
	    <script src="assets/modernizr.hover.js"></script>
</body>
</html>
